@model TesteGT4W.Models.Pessoa

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
           CPF:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            Data de Nascimento:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateNascimento)
        </dd>
        <dt>
            Peso:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            UF:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
